<script type=text/javascript>

// Hides and reveals content from push of button
function hideRevealProfile() {
    // Finds and sets variables from this.id
    let buttonId = this.id
    let button = document.getElementById(buttonId);
    let contentId = buttonId.split("-", 2).join("-")
    let content = document.getElementById(contentId)
    // Hides and reveals content
    if(button.classList.contains("header-button-inactive")){
        button.classList.remove("header-button-inactive");
        content.classList.remove("hide-content");
        content.getElementsByTagName("h3")[0].scrollIntoView({block: "nearest"});
    } else {
        button.classList.add("header-button-inactive");
        content.classList.add("hide-content");
    }
}

// Sets up listeners for button clicks
document.getElementById("shipping-information-button").addEventListener("click", hideRevealProfile);
document.getElementById("previous-invoice-button").addEventListener("click", hideRevealProfile);

</script>