{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid index-container-position">
        <div class="row justify-content-center justify-content-md-end">

            <!-- <div class="col-5 index-intro header-shadow">
                <p>
                    <strong>EM Studio</strong> was designed to increase music exposure to people of all ages and locations. 
                    Our music lessons are presented in an online environment to allow them to fit into anyones schedule.

                </p>
            </div> -->

            <div class=" col-10 col-md-4 me-0 me-md-4 mt-5 index-signup">
                <div class="row mb-4 justify-content-center">

                    <div class="col-12 mt-3">
                        <h2 class="text-uppercase y-center header-font px-3">We now offer Guitar!</h2>
                    </div>

                    <div id="sign-up" class="col-8 mt-3 btn btn-light header-box">
                        <button class="y-center remove-button">
                            <span class="text-uppercase mb-0"><strong>Sign up</strong></span>
                        </button>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

