{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid index-container-position">
        <div class="row justify-content-end">

            <div class="col-3 me-4 index-signup">
                <div class="row mb-4 justify-content-center">

                    <div class="col-12 mt-3">
                        <h2 class="text-uppercase y-center header-font">We now offer Guitar!</h2>
                    </div>

                    <div id="sign-up" class="col-8 mt-3 btn btn-light header-box">
                        <button class="y-center remove-button">
                        <p class="text-uppercase mb-0"><strong>Sign up</strong></p>
                        </button>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

