{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid index-container-position">
        <div class="row justify-content-center justify-content-md-end">

            <div class=" col-10 col-md-4 me-0 me-md-4 mt-5 index-special box-shadow">
                <div class="row mb-4 justify-content-center">

                    <div class="col-12 mt-3">
                        <h2 class="text-uppercase y-center header-font px-3">View our used books!</h2>
                    </div>

                    <div id="sign-up" class="col-8 mt-2 mb-4"> <!-- btn btn-light header-box -->
                        <a href="{% url 'used' %}" class="y-center keep-shopping-button giant-button ">
                            <span class="text-uppercase"><strong>Search</strong></span>
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

