/* ---------- general */
.index-special {
    background-color: #6296d5b4;
    text-align: center;
}

.index-container-position {
    position: relative;
}

.header-font {
    font-size: 2.5rem;
    font-weight: 600;
    color: transparent;
    text-shadow: -2px -2px 0px #faf9f6,
                0px 0px 3px rgba(0, 0, 0, .75);
}

.giant-button {
    padding:.5rem 1rem;
    color: #fff!important;
}

.giant-button:hover {
    transform: translateY(-50%) scale(1.1);
}

/* ---------- breakpoints */

@media (max-width: 991.98px) {
    .header-font {
        font-size: 1.75rem;
    }
}