{% extends "base.html" %}
{% load static %}
{% load lesson_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'invoice/css/invoice.css' %}">
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="blank-overlay"></div>

            <div class="col-10 mt-5 custom-form box-shadow"> <!--   col-lg-8 col-xl-6   -->
                <div class="row">

                    <form action="#" method="POST" class="custom-scroll pt-0 mx-3 col-8">

                        <!-- <h3>General Information</h3>
                        <hr> -->

                        <!-- <label for="full_name" class="card-text my-auto">Full Name</label>
                        <input type="text" name="full_name" id="full_name" class="" value="{% if  user.default_full_name != None %}{{ user.default_full_name }}{% endif %}">
                        <br> -->

                        <!-- <label for="prefered_name" class="card-text my-auto">Prefered name</label>
                        <input type="text" name="prefered_name" id="prefered_name" class="" value="{% if user.default_prefered_name != None %}{{ user.default_prefered_name }}{% endif %}">
                        <br> -->

                        <!-- <label for="default_pronouns" class="card-text my-auto">Pronouns</label> -->
                        <!-- <input type="text" name="" id="" class="" value="{% if  user.default_pronouns != None %}{{ user.default_pronouns }}{% endif %}"> -->
                        <!-- <select name="default_pronouns" id="default_pronouns">
                            <option value="ask" {% if user.default_pronouns == "ask" %}{% elif user.default_pronouns == None %} selected {% endif %}>Ask</option>
                            <option value="she/her" {% if user.default_pronouns == "she/her" %} selected {% endif %}>She/Her</option>
                            <option value="they/them" {% if user.default_pronouns == "they/them" %} selected {% endif %}>They/Them</option>
                            <option value="he/him" {% if user.default_pronouns == "he/him" %} selected {% endif %}>He/Him</option>
                        </select>
                        <br> -->

                        <!-- <label for="email" class="card-text my-auto">Email</label>
                        <input type="email" name="email" id="email" class="" value="{% if  user.default_email != None %}{{ user.default_email }}{% endif %}">
                        <br>

                        <label for="phone" class="card-text my-auto">Phone Number</label>
                        <input type="text" name="phone" id="phone" class="" value="{% if  user.default_phone != None %}{{ user.default_phone }}{% endif %}">
                        <br> -->

                        <h3>Invoice Information</h3>

                        <hr>
                        {{ invoice.name | as_crispy_field}}
                        {{ invoice.email | as_crispy_field }}
                        {{ invoice.phone | as_crispy_field }}
                        {{ invoice.street_address_billing | as_crispy_field }}
                        {{ invoice.city | as_crispy_field }}
                        {{ invoice.state_county | as_crispy_field }}
                        {{ invoice.post_code | as_crispy_field }}
                        {{ invoice.country | as_crispy_field }}

                        <!-- <label for="full_name" class="card-text my-auto">Name</label>
                        <input type="text" name="full_name" id="full_name" class="" value="{% if  user.default_full_name != None %}{{ user.default_full_name }}{% endif %}">
                        <br>

                        <label for="phone" class="card-text my-auto">Phone Number</label>
                        <input type="text" name="phone" id="phone" class="" value="{% if  user.default_phone != None %}{{ user.default_phone }}{% endif %}">
                        <br>

                        <label for="email" class="card-text my-auto">Email</label>
                        <input type="text" name="email" id="email" class="" value="{% if  user.default_email != None %}{{ user.default_email }}{% endif %}">
                        <br>

                        <label for="" class="card-text my-auto">Street Address</label>
                        <input type="text" name="" id="" class="" value="{% if  user.default_street_address != None %}{{ user.default_street_address }}{% endif %}">
                        <br>

                        <label for="" class="card-text my-auto">City</label>
                        <input type="text" name="" id="" class="" value="{% if  user.default_city != None %}{{ user.default_city }}{% endif %}">
                        <br>

                        <label for="" class="card-text my-auto">State</label>
                        <input type="text" name="" id="" class="" value="{% if  user.default_state_county != None %}{{ user.default_state_county }}{% endif %}">
                        <br>

                        <label for="" class="card-text my-auto">Post Code</label>
                        <input type="text" name="" id="" class="" value="{% if  user.default_post_code != None %}{{ user.default_post_code }}{% endif %}">
                        <br>

                        <label for="" class="card-text my-auto">Country</label>
                        <input type="text" name="" id="" class="" value="{% if  user.default_country != None %}{{ user.default_country }}{% endif %}">
                        <br> -->

                        <button id="form-submit" class="button-custom header-box">
                            <span class="p-2 ms-1">Purchase</span>
                        </button>

                    </form>


                    <div class="col-3 checkout-summery">
                        <h3 class="">Lesson Summary</h3>
                        <hr class="">

                        <img src="{{ lesson.image.image.url }}" alt="A {% title_image_name lesson.image %}" class="image-form">

                        <div class="pt-2 w-100" style="position:relative">
                            <span class="summery-key">Instrument: </span>
                            <span class="summery-value"><strong>{{ lesson_summery.instrument }}</strong></span>

                            <span class="summery-key">Level: </span>
                            <span class="summery-value"><strong>{{ lesson_summery.level }}</strong></span>

                            <span class="summery-key">Style: </span>
                            <span class="summery-value"><strong>{{ lesson_summery.style }}</strong></span>

                            <span class="summery-key">Weekly: </span>
                            <span class="summery-value"><strong>{{ lesson_summery.per_week }} lesson(s)</strong></span>

                            <span class="summery-key">Length: </span>
                            <span class="summery-value"><strong>{{ lesson_summery.minutes }} minutes</strong></span>

                            <span class="summery-key">Recurring: </span>
                            <span class="summery-value"><strong>{{ lesson_summery.month_duration }} month(s)</strong></span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
