{% extends "base.html" %}
{% load static %}
{% load lesson_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'invoice/css/invoice.css' %}">
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="blank-overlay"></div>

            <div class="col-11 mt-5 invoice-card box-shadow">
                <div class="row justify-content-center">

                    <form action="#" method="POST" class="custom-scroll pt-0 mx-3 col-11 col-xl-8 order-2 order-xl-1">

                        <h3>Invoice Information</h3>

                        <hr>
                        {{ invoice.name | as_crispy_field}}
                        {{ invoice.email | as_crispy_field }}
                        {{ invoice.phone | as_crispy_field }}
                        {{ invoice.street_address_billing | as_crispy_field }}
                        {{ invoice.city | as_crispy_field }}
                        {{ invoice.state_county | as_crispy_field }}
                        {{ invoice.post_code | as_crispy_field }}
                        {{ invoice.country | as_crispy_field }}

                        <button type="submit" id="form-submit" class="button-custom header-box">
                            <span class="p-2 ms-1">Purchase</span>
                        </button>

                    </form>


                    <div class="col-11 col-xl-3 summary-checkout order-1 order-xl-2">
                        <h3>Lesson Summary</h3>
                        <hr >
                        <img src="{{ lesson.image.image.url }}" alt="A {% title_image_name lesson.image %}" class="summary-image box-shadow">

                        <div class="pt-2 w-100">
                            <span class="summary-key">Instrument: </span>
                            <span class="summary-value"><strong>{{ lesson_summery.instrument }}</strong></span>

                            <span class="summary-key">Level: </span>
                            <span class="summary-value"><strong>{{ lesson_summery.level }}</strong></span>

                            <span class="summary-key">Style: </span>
                            <span class="summary-value"><strong>{{ lesson_summery.style }}</strong></span>

                            <span class="summary-key">Weekly: </span>
                            <span class="summary-value"><strong>{{ lesson_summery.per_week }} lesson(s)</strong></span>

                            <span class="summary-key">Length: </span>
                            <span class="summary-value"><strong>{{ lesson_summery.minutes }} minutes</strong></span>

                            <span class="summary-key">Recurring: </span>
                            <span class="summary-value"><strong>{{ lesson_summery.month_duration }} month(s)</strong></span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
