{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="description" content="This is your invoice">
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'invoice/css/invoice.css' %}">
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="loading-overlay"></div>
            <div class="white-overlay"></div>


            <div class="col-10 mt-3 invoice">
                <!-- body for checkout success -->
                <h3>Thank you for shopping with us!</h3>
                <hr>
                <p>Your invoice information is below. A confirmation email will be sent to {{ invoice.email }}</p>
                <!-- User information/delivery form -->
                <!-- <div class="row">
                    add latest deals here
                </div> -->
                <div class="row">
                    <div class="col break-words">

                        <!-- General invoice information -->
                        <h4 class="receipt-hr my-3">Invoice Information</h4>

                        <!-- Invoice number -->
                        <div class="key-value-container">
                            <p class="success-key">
                                Invoice Number:
                            </p>
                            
                            <p class="success-value">
                                {{ invoice.invoice_number }}
                            </p>
                        </div>

                        <!-- Order date -->
                        <div class="key-value-container">
                            <p class="success-key">
                                Order Date:
                            </p>

                            <p class="success-value">
                                {{ invoice.date_time }}
                            </p>
                        </div>

                        <!-- Items in cart -->
                        <h4 class="receipt-hr my-3">Cart Details</h4>
                        {% for item in invoice.lineitems.all %}
                            <div class="key-value-container">
                                <!-- Item name -->
                                <p class="success-key">
                                    {{ item.item.name }}
                                </p>
                                <!-- Item quantity and amount -->
                                <p class="success-value">
                                    {{ item.amount }} @ {{ item.item.price }} each
                                </p>
                            </div>
                        {% endfor %}

                        <!-- Delivery information -->
                        <h4 class="receipt-hr my-3">Delivery Information</h4>

                        <!-- name -->
                        <div class="key-value-container">
                            <p class="success-key">
                                Name:
                            </p>
                            <p class="success-value">
                                {{ invoice.name }}
                            </p>
                        </div>

                        <!-- Street Address -->
                        <div class="key-value-container">
                            <p class="success-key">
                                Atreet Address:
                            </p>
                            <p class="success-value">
                                {{ invoice.street_address_1 }}<br>
                                {{ invoice.street_address_2 }}
                            </p>
                        </div>

                        <!-- city -->
                        <div class="key-value-container">
                            <p class="success-key">
                                City:
                            </p>
                            <p class="success-value">
                                {{ invoice.city }}
                            </p>
                        </div>

                        <!-- post code -->
                        <div class="key-value-container">
                            <p class="success-key">
                                Post Code:
                            </p>
                            <p class="success-value">
                                {{ invoice.post_code }}
                            </p>
                        </div>

                        <!-- country -->
                        <div class="key-value-container">
                            <p class="success-key">
                                Country:
                            </p>
                            <p class="success-value">
                                {{ invoice.country }}
                            </p>
                        </div>

                        <!-- Phone -->
                        <div class="key-value-container">
                            <p class="success-key">
                                Phone Number:
                            </p>
                            <p class="success-value">
                                {{ invoice.phone }}
                            </p>
                        </div>

                        <!-- Billing information -->
                        <h4 class="receipt-hr my-3">Billing Info</h4>

                        <!-- Sub-total -->
                        <div class="key-value-container">
                            <p class="success-key">
                                Cart Sub-Total:
                            </p>
                            <p class="success-value">
                                {{ invoice.invoice_total }}
                            </p>
                        </div>

                        <!-- Delivery total -->
                        <div class="key-value-container">
                            <p class="success-key">
                                Delivery Total:
                            </p>
                            <p class="success-value">
                                {{ invoice.delivery_total }}
                            </p>
                        </div>

                        <!-- Grand Total -->
                        <div class="key-value-container">
                            <p class="success-key">
                                Grand Total:
                            </p>
                            <p class="success-value">
                                {{ invoice.grand_total }}
                            </p>
                        </div>
                    </div>
                </div>

                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="bronze-button my-3 inline-b">
                        <span class="p-0 p-sm-2">Back to Profile</span>
                    </a>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

