/* -------------------------------------------------------------------General---------------------------------------------------------------- */
.card {
    margin: 2em;
    padding: 2em;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .35),
                inset 2px 2px 4px rgba(51, 51, 51, 0.493),
                inset -2px -2px 4px rgba(51, 51, 51, 0.493),
                -2px -2px 4px rgba(51, 51, 51, 0.699);
    background-color: #faf9f6;
    position: relative;
    border-radius: 10px;
}


.card-image {
    height: 200px;
    background-size: contain;
    width: auto;

}

.merch-name {
    font-size: 1rem;
    font-weight: 600;
    /* margin-top: 1rem; */
    margin-bottom: 0;
}

.top-hr {
    border-top: 1px solid #a7a7a7;
}

.bottom-hr {
    border-bottom: 2px solid #333;
}

.totals-bottom-hr {
    border-bottom: 2px solid #333;
    width:50%
}

.totals-content {
    text-align: right;
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;
    /* align-content: flex-end; */
}

.totals-content hr {
    position: relative;
    right: 0;
    text-align: right;
    width: 50%
}

.totals-key,
.totals-value {
    width: 45%
}

.totals-key {

}

.totals-value {
    font-weight: bold;

}

