/* card body */
.card {
    margin: 2em;
    padding: 2em;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .35),
                inset 2px 2px 4px rgba(51, 51, 51, 0.493),
                inset -2px -2px 4px rgba(51, 51, 51, 0.493),
                -2px -2px 4px rgba(51, 51, 51, 0.699);
    background-color: #faf9f6;
    position: relative;
    border-radius: 10px;
}

/* images */
.card-image {
    height: 200px;
    background-size: contain;
    width: auto;

}
/* name header */
.merch-name {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
}
/* creates dividers */
.top-hr {
    border-top: 1px solid #a7a7a7;
}

.bottom-hr {
    border-bottom: 2px solid #333;
}
/* grand total */
.grand-total {
    font-size: 1.5rem;
}
/* Quantity update buttons */
.remove-quantity,
.update-quantity {
    text-shadow: 1px 1px #333;
    margin-top: .5rem;
    font-size: .75rem;
    /* position: absolute; */
}

.update-quantity {
    border: 2px solid #1bc732!important;
    background: linear-gradient(45deg, #138722, #1bc732, #18AD2C);
    /* left: 0; */
}

.remove-quantity {
    border: 2px solid #C71C49!important;
    background: linear-gradient(45deg, #871332, #C71C49, #AD1840);
    /* right: 0; */
}
/* Quantity adjustment buttons */
.bag {
    position: relative;
    font-size: 0;
    margin-bottom: 1rem;
}

.bag div {
    display: inline-block;
}

.adj-qty-size {
    width:20%;
}

.adj-subtotal-size {
    width:10%
}

.sub-button,
.in-bag,
.add-button {
    height: 30px;
    line-height: 25px;
    font-size: 1rem;
    color: #fff;
    vertical-align:middle;
}

.sub-button,
.add-button {
    background-color: #333;
    font-weight: bold;
    border: 2px solid #333;
    width: 20%;
    cursor: pointer;
    text-align: center;
}

.in-bag  {
    width:60%;
}

.in-bag input {
    width: 100%;
    height: 30px;
    text-align: center;
    border: 2px solid #333;
}

@media (max-width: 767.98px) {
    table th,
    table td,
    table p,
    .merch-name,
    .grand-total,
    .generic-button,
    .keep-shopping-button {
        font-size: .85rem;
    }

    .remove-quantity,
    .update-quantity {
        font-size: .7rem
    }

    .card-image {
        height:100px;
    }

    .sub-button,
    .in-bag,
    .add-button  {
        height: 20px;
        line-height: 15px;
        color: #fff;
        vertical-align:middle;
    }
    .in-bag input {
        height:20px;
    }

}

@media (max-width: 575.98px) {
    table th,
    table td,
    table p,
    .merch-name,
    .sub-button,
    .add-button,
    .in-bag,
    .grand-total,
    .generic-button,
    .keep-shopping-button {
        font-size: .65rem;
    }

    .remove-quantity,
    .update-quantity {
        font-size: .5rem;
    }

    .sub-button,
    .in-bag,
    .add-button  {
        height: 15px;
        line-height: 10px;
        color: #fff;
        vertical-align:middle;
    }

    .adj-qty-size {
        width: 50%;
    }

    .in-bag input {
        height:15px;
    }

    .card-image {
        height:50px;
    }



}