@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* ---------- General */
body {
    position: relative;
    font-family: "Roboto", sans-serif;
    background: url('/media/heromod.jpg') no-repeat 43% 43% ;
    background-size: cover;
    min-height: 100vh;
}

.white-text {
    color:#fff!important;
}

.remove-button {
    background-color: inherit;
    border: none;
}

.y-center {
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

a:visited,
a:hover,
a:link,
a {
    color: #333;
    text-decoration: none;
}

/* custom buttons */
button[type='submit']:not(#user-search-bar):not(#mobile-user-search-bar):not(.update-quantity):not(.remove-quantity),
.custom-allauth input[type='submit'],
.custom-allauth button,
.bronze-button,
.green-button {
    padding: .25em .5em;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .5);
    margin-bottom: .5rem;
    width: fit-content;
    transition-duration: .25s;
    color: #fff!important;
}

button[type='submit']:not(#user-search-bar):not(.remove-quantity):not(#mobile-user-search-bar):not(.update-quantity):not(.remove-quantity),
.custom-allauth input[type='submit'],
.custom-allauth button {
    border: 2px solid #1bc732!important;
    background: linear-gradient(45deg, #138722, #1bc732, #18AD2C);
    text-shadow: 1px 1px #333;
}

button[type='submit']:not(#user-search-bar):not(#mobile-user-search-bar):not(.update-quantity):not(.remove-quantity):hover,
.custom-allauth input[type='submit']:hover,
.custom-allauth button:hover,
.green-button:hover,
.bronze-button:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
}

.green-button {
    border: 2px solid #1bc732!important;
    background: linear-gradient(45deg, #138722, #1bc732, #18AD2C);
    text-shadow: 1px 1px #333;
}

.bronze-button {
    border: 2px solid #705a18;
    background: linear-gradient(45deg, #CEA52B, #705a18, #CEA52B);
    text-shadow: 1px 1px #5e5e5e;
}

/* overlays for background image */
.blank-overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #FFE082, #B39849, #FFE082, #B39849, #FFE082);
    color:#575757c0
}

.white-overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: calc(100% - 188px);
    background-color: #faf9f6;
}

/* custom scroll bar */
.custom-scroll {
    overflow-y: scroll;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar {
    width: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #858585;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #252525;
}

/* general widths */
.width-15 {
    width: 15%;
}

.width-20 {
    width: 20%;
}
/* general shadows */
.box-shadow {
    box-shadow: -1px 0px 2px  rgba(0, 0, 0, .5),
                inset -1px -1px 2px  rgba(0, 0, 0, .25),
                0px -1px 2px  rgba(0, 0, 0, .5);
}

.text-shadow {
    text-shadow: -1px -1px 0px #a7a7a7;
}
/* generic link color */
.link {
    color: #8298FF;
}
.inline-b {
    display: inline-block;
}
/* ---------- Base */
/* fixed header background color */
header {
    background-color: #faf9f6;
}
/* logo */
.logo-title,
.logo-title a:visited,
.logo-title a:link {
    color: transparent;
}

.logo-title,
.logo-title a:visited,
.logo-title a:link {
    font-family: "LimeLight", sans-serif;
    font-size: 2rem;
    position: relative;
    text-shadow: -2px -2px 2px #faedc65b,
                1px 1px 0px #9c7d21,
                2px 2px 1px rgba(0, 0, 0, .75),
                3px 3px rgba(0, 0, 0, 0.452);
    -webkit-background-clip: text;
}

.header-fit{
    width:fit-content
}
/* user search bar */
.input-bar-max {
    margin-right: 15%;
    margin-left: 10%;
    width: 70%;
}
/* link li's */
nav li {
    font-size: 1.5rem;
}
/* header bar for specials, ex. free delivery */
.header-special {
    height: 2.5rem;
    background-color: #4e4e4e;
}

.header-special p {
    font-size: 1.25rem;
    color: transparent;
    text-align: center;
    text-shadow:-2px -2px 0px #faf9f6,
                0px 0px 3px rgba(0, 0, 0, .75);
}
/* font awesome icons */
.font-aws {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    position: relative;
    z-index: 1;
}

.font-aws button,
.font-aws a {
    margin-left: .5em;
    margin-right: .5em;
    top:-25%;
    transform: translateY(25%);
}

.font-aws a i:before {
    position: relative;
    left: 25%;
    transform: translateX(-25%);
}

.header-fontaws i {
    font-size: 1.5rem;
}

.header-fontaws i,
.header-fontaws span {
    display: block;
}

.nav-header-height {
    height: 188px;
}
/* sets an navigation link to active, used with JS */
.active {
    text-shadow: 1px 1px 1px #555!important;
}
/* Removes item from display */
.invis {
    display: none;
}

/* mimics allauth focus */
.allauth-input-focus:active + div,
.allauth-input-focus:focus + div {
box-shadow: 0px 0px 0px rgba(0, 0, 0, .5),
            4px 4px #bcd8f5,
            4px -4px #bcd8f5;
}

.allauth-input-focus + div {
    position: relative;
    left: 1px;
    transition-duration: .15s;
}

/* ---------- Toasts */
.message-container {
    position: fixed;
    z-index: 99999999;
    height: 0%;
    top: 72px;
    right: 15px;
}

.custom-toast {
    transition-duration: .25s;
    background: #fff;
    opacity: 0;
    max-width: 85vw;
    /* max-height: 50vh */
}



.reveal-toast {
    opacity: 1!important;
    /* height: auto; */
}

.pointer {
    position: absolute;
    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #cea52b;
    top: -12px;
    right: 14px;
}

.pointer-header {
    border-top: 2px solid #cea52b
}

.close-button {
    background: transparent;
    border: none;
}

.close-button i {
    font-size: 2em;
}

.cart-popup-view {
    height: 200px;
    overflow-x: hidden;
}

.x-center-toast-button {
    position: relative;
    left:25%;
}

.cart-header {
    font-weight: bold;
}
/* ---------- Allauth */
.link,
.link:visited,
.link:link {
    color: #8298FF;
    transition-duration: .25s;
}

.link:hover {
    color: #465cbb;
}

.custom-allauth input,
.custom-allauth select {
    display: inline-flex;
    margin-top: .25rem;
    width:80%;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
    transition-duration: .25s;
}

.custom-allauth input[type=checkbox] {
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, .5));
    box-shadow: none;
}

.custom-allauth input:active,
.custom-allauth input:focus {
    outline: none;
    border: 2px solid #8ab5f9;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .5),
                3px 3px #bcd8f5,
                -3px 3px #bcd8f5,
                -3px -3px #bcd8f5,
                3px -3px #bcd8f5;
}

.custom-allauth label:not([for='id_remember']){
    display: none;
}

.custom-allauth label[for='id_remember'],
.custom-allauth input[id='id_remember'] {
    width:fit-content;
}

.custom-allauth input[id='id_remember'] {
    margin-left: .75rem;
}

.custom-allauth {
    background-color: #faf9f6;
    border: 2px solid #444;
    border-radius: 10px;
    padding: 0 1.75em 2em 1.75em;
}

/* add something for the single h3 in email */
.custom-allauth h2 {
    font-size: 2rem;
    position: relative;
    margin-top: .75rem;
}

.custom-allauth hr {
    width: 50%;
}

/* ---------- Crispy forms */
.form-group input,
.form-group select,
.form-group textarea {
    width:80%;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.form-group select:invalid {
    color: rgb(118, 118, 118);
}

/* ---------- Breakpoints */
@media (max-width: 991.98px) {
    /* logo */
    .logo-title {
        font-size: 1.5rem;
    }
    /* overlay for billing/checkout */
    .white-overlay {
        height: calc(100% - 94px);
    }
    /* general */
    nav li {
        font-size: 1rem;
    }

    /* Profile, cart, search buttons */
    .font-aws {
        top: inherit;
        transform: translateY(0);
    }
    .header-profile {
        position: absolute;
        top: -.25em;
    }

    /* custom scroll bar */
    .custom-scroll::-webkit-scrollbar {
        width: 7px;
    }

    /* Fixed position main header  */
    .nav-header-height {
        height: 112px;
    }
}

@media (max-width: 767.98px) {
    /* logo */
    .logo-title {
        font-size: 1rem;
    }
    /* view height of items */
    .cart-popup-view {
        height: 100px;
    }
    .toast-body {
        /* height: 50px; */
    }
}

@media (max-width: 575.98px) {
    /* special bar (bottom of nav header)  */
    .header-special p {
        font-size: .9rem;
    }
}