@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* -------------------------------------------------------------------General---------------------------------------------------------------- */
body {
    position: relative;
    font-family: "Roboto", sans-serif;
    background: url('/media/heromod.jpg') no-repeat 43% 43% ;
    background-size: cover;
    min-height: 100vh;
}

.remove-button {
    background-color: inherit;
    border: none;
}

.text-raleway {
    font-family: "Raleway", sans-serif!important;
}

.y-center {
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

a:visited,
a:hover,
a:link,
a {
    color: #333;
    text-decoration: none;
}

button[type='submit']:not(#user-search-bar):not(#mobile-user-search-bar),
.keep-shopping-button,
.generic-button {
    padding: .25em .5em;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .5);
    margin-bottom: .5rem;
    width: fit-content;
    transition-duration: .25s;
    color: #fff;
}
/* General submit button */
button[type='submit']:not(#user-search-bar):not(.remove-quantity):not(#mobile-user-search-bar) {
    /* padding: .25em .5em; */
    border: 2px solid #1bc732!important;
    /* border-radius: 5px; */
    background: linear-gradient(45deg, #138722, #1bc732, #18AD2C);
    /* box-shadow: 3px 3px 2px rgba(0, 0, 0, .5); */
    /* margin-bottom: .5rem; */
    /* width: fit-content; */
    /* transition-duration: .25s; */
    /* color: #fff; */
    text-shadow: 1px 1px #333;
}

button[type='submit']:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);

}

.green-button {
    border: 2px solid #1bc732!important;
    background: linear-gradient(45deg, #138722, #1bc732, #18AD2C);
    text-shadow: 1px 1px #333;
}

/* Keep shopping button */
.keep-shopping-button {
    /* padding: .25em .5em; */
    border: 2px solid #705a18;
    /* border-radius: 5px; */
    background: linear-gradient(45deg, #CEA52B, #705a18, #CEA52B);
    /* box-shadow: 3px 3px 2px rgba(0, 0, 0, .5); */
    /* margin-bottom: .5rem; */
    /* margin-top: .5rem; */
    /* width: fit-content; */
    /* transition-duration: .25s; */
    /* color: #fff; */
    text-shadow: 1px 1px #5e5e5e;
}

.white-text {
    color:#fff!important;
}

.keep-shopping-button:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
}

input:read-only {
    background-color: rgba(239, 239, 239, 0.3);
    color: rgb(84, 84, 84);
    border-color: rgba(118, 118, 118, 0.3);
}

.box-shadow {
    box-shadow: -1px 0px 2px  rgba(0, 0, 0, .5),
            inset -1px -1px 2px  rgba(0, 0, 0, .25),
                0px -1px 2px  rgba(0, 0, 0, .5);
}

.text-shadow {
    text-shadow: -1px -1px 0px #a7a7a7;
}

.blank-overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #36a2cf, #30DFE6, #82650E, #9c19e6, #6021cf);
    background: linear-gradient(135deg, #36a2cf, #39ABDB, #30DFE6, #39ABDB, #36a2cf);
    background: linear-gradient(135deg, #FFE082, #B39849, #FFE082, #B39849, #FFE082);
    color:#575757c0
}

.white-overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: calc(100% - 188px);
    background-color: #faf9f6;
    /* background-color: #fff; */
}

/* custom scroll bar */
.custom-scroll::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar {
    width: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #858585;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #252525;
}

.width-15 {
    width: 15%;
}

.width-20 {
    width: 20%;
}


/* -------------------------------------------------------------------Base---------------------------------------------------------------- */
header {
    background-color: #faf9f6;
    /* background-color: #fff; */
}

.logo-title,
.logo-title a:visited,
.logo-title a:link {
    color: transparent;
}

.logo-title,
.logo-title a:visited,
.logo-title a:link {
    font-family: "LimeLight", sans-serif;
    font-size: 2rem;
    position: relative;
    text-shadow: -2px -2px 2px #faedc65b,
                /* -1px -1px 0px #cea52b; */
                /* 1px 1px 0px rgba(0, 0, 0, .75); */
                /* 1px 1px 0px #82650e, */
                /* 1px 1px 0px #a66e07, */
                1px 1px 0px #9c7d21,
                2px 2px 1px rgba(0, 0, 0, .75),
                3px 3px rgba(0, 0, 0, 0.452);
    -webkit-background-clip: text;
    /* color: #cea52b; */
    /* color: #cea52b4d; */
}

.header-fit{
    width:fit-content
}
.input-bar-max {
    margin-right: 15%;
    margin-left: 10%;
    width: 70%;
}
nav li {
    font-size: 1.5rem;
}

.header-special {
    height: 2.5rem;
    background-color: #9C7D21;
    background-color: #993C02;
    background-color: #029599;
    background-color: #A66E07;
    background-color: #A61507;
    background-color: #004B4D;
    background-color: #4e4e4e;
    /* border-bottom: 2px solid #474747; */
}

.header-special p {
    font-size: 1.25rem;
    color: transparent;
    text-align: center;
    text-shadow:-2px -2px 0px #faf9f6,
    0px 0px 3px rgba(0, 0, 0, .75);
}

.font-aws {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    position: relative;
    z-index: 1;
}

.font-aws button,
.font-aws a {
    margin-left: .5em;
    margin-right: .5em;
    top:-25%;
    transform: translateY(25%);
}

.font-aws a i:before {
    position: relative;
    left: 25%;
    transform: translateX(-25%);
}

.header-fontaws i {
    font-size: 1.5rem;
}

.header-fontaws i,
.header-fontaws span {
    display: block;
}

.nav-header-height {
    height: 188px;
}

.active {
    text-shadow: 1px 1px 1px #555!important;
}

.invis {
    display: none;
}

/* mimics allauth focus */
.allauth-input-focus:active + div,
.allauth-input-focus:focus + div {
box-shadow: 0px 0px 0px rgba(0, 0, 0, .5),
    4px 4px #bcd8f5,
    4px -4px #bcd8f5;
}

.allauth-input-focus + div {
    position: relative;
    left: 1px;
    transition-duration: .15s;
}

/* -------------------------------------------------------------------toasts---------------------------------------------------------------- */
.message-container {
    position: fixed;
    z-index: 99999999;
    height: 0%;
    top: 72px;
    right: 15px;
}

.custom-toast {
    transition-duration: 1s;
    background: #fff;
}

.pointer {
    position: absolute;
    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #cea52b;
    top: -12px;
    right: 14px;
}

.pointer-header {
    border-top: 2px solid #cea52b
}

.close-button {
    background: transparent;
    border: none;
}

.close-button i {
    font-size: 2em;
}

.cart-popup-view {
    height: 200px;
    overflow-x: hidden;
}

.x-center-popup {
    position: relative;
    left:25%;
    transform: translateX(-25%);
}

.cart-header {
    font-weight: bold;
    /* text-transform: uppercase; */
}
/* -------------------------------------------------------------------allauth---------------------------------------------------------------- */
.link,
.link:visited,
.link:link {
    color: #5CCEFF;
    /* color: #E67730; */
    transition-duration: .25s;
}

.link:hover {
    color: #459BBF;
}

.custom-allauth input,
.custom-allauth select {
    display: inline-flex;
    margin-top: .25rem;
    width:80%;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
    transition-duration: .25s;
}

.custom-allauth input[type=checkbox] {
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, .5));
    box-shadow: none;
}

.custom-allauth input:active,
.custom-allauth input:focus {
    outline: none;
    /* box-shadow: inset 2px 2px rgba(0, 0, 0, .5),
                inset -2px -2px rgba(0, 0, 0, .5);
    padding: .25em; */
    /* border: 4px solid #40CF5A; */
    /* border: 3px solid #BD17CF; */
    border: 3px solid #EB36FF;
    border: 2px solid #8ab5f9;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .5),
                3px 3px #bcd8f5,
                -3px 3px #bcd8f5,
                -3px -3px #bcd8f5,
                3px -3px #bcd8f5;
}

.custom-allauth label:not([for='id_remember']){
    display: none;
}

.custom-allauth label[for='id_remember'],
.custom-allauth input[id='id_remember'] {
    width:fit-content;
}

.custom-allauth input[id='id_remember'] {
    margin-left: .75rem;
}

/* .custom-allauth input[type=submit] */

.custom-allauth {
    background-color: #faf9f6;
    /* background: linear-gradient(-45deg, #faf9f6, #d1d1d1); */
    border: 2px solid #444;
    border-radius: 10px;
    padding: 0 1.75em 2em 1.75em;
}

/* .input-button ----------------FIND AND REMOVE */

.custom-allauth input[type='submit'],
.custom-allauth button {
    border: 3px outset #5CCEFF!important;
    border: 3px solid #5CCEFF!important;
    /* border: 3px solid #E67730!important; */
    border-radius: 5px;
    background-color: #fff!important;
    padding: .5em 1em;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .5);
    margin-bottom: .5rem;
    width: fit-content;
    transition-duration: .25s;
    color: #333;
}

.custom-allauth input[type='submit']:hover,
.custom-allauth button:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);

}

/* add something for the single h3 in email */
.custom-allauth h2 {
    text-shadow: 1px 0px 2px #a7a7a7,
                -1px 0px #a7a7a7,
                0px 1px #a7a7a7,
                0px -1px 2px #a7a7a7;
    color: transparent;
    font-size: 2rem;
    position: relative;
    text-shadow: -4px -4px 5px #faedc65b,
                -2px -2px 0px #cea52b,
                0px 0px 1px rgba(0, 0, 0, .75);
    -webkit-background-clip: text;
    margin-top: .75rem;
}

.custom-allauth hr {
    width: 50%;
}
/* -------------------------------------------------------------------crispy forms---------------------------------------------------------------- */

.form-group input,
.form-group select,
.form-group textarea {
    width:80%;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.form-group select:invalid {
    color: rgb(118, 118, 118);
    /* color: red!important; */
}

/* -------------------------------------------------------------------breakpoints---------------------------------------------------------------- */
@media (max-width: 575.98px) {
    /* special bar (bottom of nav header)  */
    .header-special p {
        font-size: .9rem;
    }
}

@media (max-width: 767.98px) {
    /* logo */
    .logo-title {
        font-size: 1rem;
    }
}

@media (max-width: 991.98px) {
    /* logo */
    .logo-title {
        font-size: 1.5rem;
    }
    /* overlay for billing/checkout */
    .white-overlay {
        height: calc(100% - 94px);
    }
    /* general */
    nav li {
        font-size: 1rem;
    }

    /* Profile, cart, search buttons */
    .font-aws {
        top: inherit;
        transform: translateY(0);
    }
    .header-profile {
        position: absolute;
        top: -.25em;
    }

    /* custom scroll bar */
    .custom-scroll::-webkit-scrollbar {
        width: 7px;
    }

    /* Fixed position main header  */
    .nav-header-height {
        height: 112px;
    }
}

@media (max-width: 1199.98px) {
}

@media (max-width: 1399.98px) {
}
