@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* -------------------------------------------------------------------General---------------------------------------------------------------- */
body {

    position: relative;
    font-family: "Roboto", sans-serif;
    /* top:2rem; */
    /* background-color: #faf9f6; */
    /* background-color: rgb(169, 213, 228); */ /*   --- original*/
    /* background-color: #36A2CF; */
    /* background-color: #faf9f6; */
    /* background-color: #2FF5C3; */
    background: url('/media/heromod.jpg') no-repeat 43% 43% ;
    background-size: cover;
    min-height: 100vh;
    /* position: absolute; */
}

.remove-button {
    background-color: inherit;
    border: none;
}

.text-raleway {
    font-family: "Raleway", sans-serif!important;
}

.y-center {
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

.custom-scroll::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 5px;

  }

.custom-scroll::-webkit-scrollbar {
    width: 10px;
}


.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #858585;
  }

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #252525;
  }

/* -------------------------------------------------------------------Base---------------------------------------------------------------- */
/* .base-background {
    background: url('/media/heromod.jpg') no-repeat 43% 43% ;
    background-size: cover;
    height: 100vh;
    position: absolute;
} */

.base-overlay {
    position: absolute;
    height: 100%;
    background: rgba(0, 0, 0, .1);
}

header {
    background-color: #faf9f6;
}

.header-flex {
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header-logo {
    flex-basis: 40%;
    flex-shrink: 0;
    white-space: nowrap
}

.header-search {
    text-align: center;
    flex-basis: 45%;
    flex-shrink: 2;
}
.header-search input {
    width: 80%;
}

.header-profile {
    flex-basis: 3%;
    flex-shrink: 0
}

.logo-title {
    font-family: "LimeLight", sans-serif;
    font-size: 3rem;
    position: relative;
    color: transparent;
    text-shadow: -4px -4px 5px #faedc65b,
                -2px -2px 0px #cea52b,
                0px 0px 3px rgba(0, 0, 0, .75);
    -webkit-background-clip: text;
}

nav li {
    font-size: 1.5rem;
}

a:visited,
a:hover,
a:link,
a {
    color: #333!important;
    text-decoration: none;
}

.header-special {
    height: 2.5rem;
    background-color: #4e4e4e;
    /* border-bottom: 2px solid #40A5CF; */
}

.header-special p {
    font-size: 1.25rem;
    color: transparent;
    text-align: center;
    text-shadow:-2px -2px 0px #faf9f6,
    0px 0px 3px rgba(0, 0, 0, .75);
}

.font-aws {
    font-size: 3rem;
}

/* -------------------------------------------------------------------Index---------------------------------------------------------------- */
.index-signup {
    background-color: #6296d5b4;
    text-align: center;
}

.index-container-position {
    position: relative;
    /* top: 200px; */
}

.header-shadow {
    transition-duration: .5s;
    color: #faf9f6;
    text-shadow: -1px -1px 2px #333,
                0px 0px 3px rgba(0, 0, 0, .25);
}

.header-font {
    font-size: 2.5rem;
    font-weight: 600;
    color: transparent;
    text-shadow: -2px -2px 0px #faf9f6,
                0px 0px 3px rgba(0, 0, 0, .75);
}

.header-box {
    border: none;
    transition-duration: .5s;
    box-shadow: 3px 3px 2px  rgba(0, 0, 0, .25);
}

.header-box:hover {
    background-color: #283D57;
    box-shadow: 0px 0px rgba(0, 0, 0, .25),
    inset -4px -4px 2px #010203,
    inset 4px 4px 2px #010203;
}

.header-box p {
    color: transparent;
    text-shadow: -1px -1px 0px #333,
                0px 0px 1px rgba(122, 122, 122, 0.5);
}

.header-box:hover p {
    text-shadow: -1px -1px 0px #faf9f6,
                0px 0px 1px rgb(172, 172, 172);
}

/* -------------------------------------------------------------------all classes---------------------------------------------------------------- */
.class-card {
    height:25rem;
}
.card-image {
    min-height: 200px;
    /* width: 200px; */
    position: relative;
    background-size: cover;
}
.class-card-header {
    font-size: 1rem;
    font-weight: 600;
}

.card-body {
    overflow-y: scroll;
}

.class-card-footer {

}

.class-banner {
    width: 100%;
    position: absolute;
    z-index: 1;
    top:5%!important;
    color: white;
    /* font-size: 2rem; */
    text-shadow: 
    1px 0px 2px #333,
    -1px 0px #333,
    0px 1px #333,
    0px -1px 2px #333
    ;
    background-color: rgba(255, 255, 255, .75);
    /* background-color: red; */
}

/* -------------------------------------------------------------------breakpoints---------------------------------------------------------------- */

/* @media (min-width: 575.98px) {
    .key-white {
        width: 80%;
        background-color: seagreen!important;
    }

    .key-black {
        width: 60%;
    }
} */

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {
    .logo-title {
        font-size: 2.5rem;
    }
    nav li {
        font-size: 1rem;
    }
    .font-aws {
        font-size: 2rem;
    }
    .header-search {

    }

    .header-search input {
        height:1.5rem
    }
    .header-search button span i {
        font-size: 1rem;
    }
    .custom-scroll::-webkit-scrollbar {
        width: 7px;
    }

}

@media (max-width: 1199.98px) {

}

@media (max-width: 1399.98px) {
    .title-header1 {
        font-size: 2.5rem;
    }
}
