{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'shopping_bag/css/shopping_bag.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="blank-overlay"></div>

            <div class="col-11 card">

                <h2 class="mb-0">Cart</h2>
                <hr>

                {% if cart_items %}
                    <table>
                        <tr class="bottom-hr">
                            <th scope='col' class="px-3">Image</th>
                            <th scope='col' class="px-3">Name</th>
                            <th scope='col' class="px-3">Price</th>
                            <th scope='col' class="px-3">Quantity</th>
                            <th scope='col' class="px-3">Subtotal</th>
                        </tr>

                    {% for item in cart_items %}
                        <tr class="{% if not forloop.first %}top-hr{% endif %}">
                            <td class="px-3">
                                <img class="card-image py-2" src="{% if item.item.image %}{{ item.item.image.url }}{% else %}/media/blank.png{% endif %}" alt="{{ item.item.name }}">
                            </td>
                            <td>
                                <p class="merch-name px-3">
                                    {{ item.item.name }}
                                </p>
                                <p class="text-muted small px-3">
                                    {{ item.item.sku }}
                                </p>
                            </td>
                            <td>
                                <p class="px-3">
                                    ${{ item.item.price }}
                                </p>
                            </td>
                            <td>
                                <p class="px-3">
                                    {{ item.amount }}
                                </p>
                            </td>
                            <td>
                                <p class="px-3">
                                    ${{ total }}
                                </p>
                            </td>
                        </tr>

                    {% endfor %}
                        <tr aria-hidden="true">
                            <td colspan="2"></td>
                            <td colspan="3" class="bottom-hr"><p class="mt-5"></p></td>
                        </tr>
                        <tr>
                            <td colspan="2" aria-hidden="true"></td>
                            <td colspan="2">
                                <p class="text-end pe-3 mt-2">
                                    Sub-Total:
                                </p>
                            </td>
                            <td>
                                <p class="mt-2">
                                    <strong>${{ total | floatformat:2 }}</strong>
                                </p>
                            </td>


                        </tr>
                        <tr>
                            <td colspan="1" aria-hidden="true"></td>
                            <td colspan="3">
                                <p class="{% if delivery == 0 %} text-muted small{% endif %} text-end pe-3">
                                    Delivery:
                                </p>
                            </td>
                            <td>
                                <p {% if delivery == 0 %} class="text-muted small"{% endif %}>
                                    <strong>${{ delivery|floatformat:2 }}</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" aria-hidden="true"></td>
                            <td colspan="3" class="text-end pe-3">
                                <p class="grand-total">
                                    <strong>Grand Total:</strong>
                                </p>
                            </td>
                            <td>
                                <p class="grand-total">
                                    <strong>${{ grand_total|floatformat:2 }}</strong>
                                </p>
                            </td>
                        </tr>
                    </table>

                    <!-- {{ cart_items }} -->
                {% else %}

                    <h3>Your cart is empty.</h3>
                    <a href="{% url 'merchandise' %}">
                        <button class="keep-shopping-button">
                            Keep Shopping
                        </button>
                    </a>

                {% endif %}



            </div>

        </div>
    </div>
{% endblock %}

