{% extends "base.html" %}
{% load static %}
{% load discount %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'merchandise/css/merch.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="blank-overlay"></div>
            <div id="card" class="col-10 col-lg-8 col-xl-6 mt-5">
                <!-- <div class=""> -->
                <div class="row g-0 merch-card mb-3">

                    <!-- image -->
                    <div class="col-10 col-sm-6 col-md-4 merch-image details-image">
                        <div class="merch-image-background"></div>
                        <!-- Floating header for cards - tells if discount or used book -->
                        {% if merch.special or merch.used %}
                            <div class="image-banner">
                                {% if merch.special and merch.used %}
                                    <span>Used</span>
                                    <br>
                                    <span>{{ merch.discount }}% Off!</span>
                                {% elif merch.special %}
                                    <span>{{ merch.discount }}% Off!</span>
                                {% elif merch.used %}
                                    <span>Used</span>
                                {% endif %}
                            </div>
                        {% endif %}
                        <img src="{% if merch.image %}{{ merch.image.url }}{% else %}{{ MEDIA_URL }}blank.png{% endif %}" alt="{{ merch.name }} Music Book">
                    </div>

                    <!-- details -->
                    <div id="card-body" class="col-11 col-sm-10 col-md-7">

                        <!-- edit/delete buttons -->
                        {% if request.user.is_superuser %}
                            <small class="super-buttons-details d-flex justify-content-end">
                                <a href="{% url 'edit_merch' merch.id %}" class="edit-merch">Edit</a>
                                <span> / </span>
                                <a href="{% url 'delete_merch' merch.id %}" class="delete-merch">Delete</a>
                            </small>
                        {% endif %}

                        <!-- Merch Genreal Information -->
                        <div class="merch-text-body"> <!-- d-flex justify-content-between pb-3  -->

                            <!-- Merch name -->
                            <p class="merch-name mb-0">
                                {{ merch | title }}
                            </p>
                            <!-- Merch composer -->
                            <p class="text-muted small">
                                By: {{ merch.author }}
                            </p>
                            <!-- Merch description -->
                            <p class="my-4">
                                {{ merch.description }}
                            </p>
                            <!-- Merch rating -->
                            <p>
                                <i class="fas fa-star"></i>
                                {{ merch.rating }} / 5
                            </p>

                            <!-- Merch price -->
                            {% if merch.special %}
                                <p>
                                    <strong class="text-muted small"><s>${{ merch.price }}</s></strong>
                                    <br>
                                    <strong>${% discount merch %}</strong>
                                </p>
                            {% else %}
                                <p>
                                    <strong>${{ merch.price }}</strong>
                                </p>
                            {% endif %}

                            <form action="{% url 'add_to_cart' merch.id %}" method="POST">
                                {% csrf_token %}
                                <p class="merch-name">Quantity:</p>
                                <div id="bag" class="mx-0 px-0">
                                    <div id="remove-button" class="mx-0 px-0">
                                        <span>-</span>
                                    </div>
                                    <div id="in-bag" class="mx-0 px-0">
                                        <input id="id_qty_{{ merch.id }}" type="number" name="amount" value=1 min="1" max="99" data-item_id="{{ merch.id }}" >
                                    </div>
                                    <div id="add-button" class="mx-0 px-0">
                                        <span>+</span>
                                    </div>
                                </div>

                                <input type="hidden" name="redirect_url" value="{{ request.path }}">

                                <div class="mb-3 mt-3 d-flex justify-content-between">

                                    <button type="submit">
                                        <span class="p-2 white-text">Purchase</span>
                                    </button>

                                    <a href="{% url 'merchandise' %}" class="keep-shopping-button">
                                        <span class="p-2 white-text">Keep Shopping</span>
                                    </a>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postload_js %}
{{ block.super }}
<script src="{% static 'merchandise/js/details.js' %}"></script>

{% endblock %}