{% extends "base.html" %}
{% load static %}
{% load discount %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'merchandise/css/merch.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-around">
      <div class="blank-overlay"></div>
        {% for merch in merchandise %}
            <div class="col-sm-12 col-md-6 col-lg-4 mt-5 "> <!-- col-12 col-sm-5 col-lg-4 col-xxl-3-->
                <div class="row g-0 mb-3 merch-card">
                    <!-- Image and floating header -->
                    <a href="{% url 'merch_details' merch.id %}" class="merch-image col-5">
                        <div class="merch-image-background"></div>

                        <!-- Floating header for cards -- tells if discount or used book -->
                        {% if merch.special or merch.used %}
                            <div class="image-banner">
                                {% if merch.special and merch.used %}
                                    <span>Used</span>
                                    <br>
                                    <span>{{ merch.discount }}% Off!</span>
                                {% elif merch.special %}
                                    <span>{{ merch.discount }}% Off!</span>
                                {% elif merch.used %}
                                    <span>Used</span>
                                {% endif %}
                            </div>
                        {% endif %}
                        <img src="{% if merch.image %}{{ merch.image.url }}{% else %}{{ MEDIA_URL }}blank.png{% endif %}" alt="{{ merch.name }} Music Book">
                    </a>
                    <!-- General merch information -->
                    <a href="{% url 'merch_details' merch.id %}" class="col-7 custom-scroll" >
                        <div class="merch-text-body ">
                            <!-- Merch name -->
                            <p class="merch-name mb-0">
                                {{ merch | truncatewords:8 }}
                            </p>

                            <!-- Merch composer -->
                            <p class="text-muted small">
                                By: {{ merch.author | truncatewords:3 }}
                            </p>

                            <!-- Merch description -->
                            <p class="my-4">
                                {{ merch.description | truncatewords:14 }}
                            </p>

                            <!-- Merch rating -->
                            <p>
                                <i class="fas fa-star"></i>
                                {{ merch.rating }} / 5
                            </p>

                            <!-- Merch price -->
                            {% if merch.special %}
                                <p>
                                    <strong class="text-muted small"><s>${{ merch.price }}</s></strong>
                                    <br>
                                    <strong>${% discount merch %}</strong>
                                </p>
                            {% else %}
                                <p>
                                    <strong>${{ merch.price }}</strong>
                                </p>
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
