/* -------------------------------------------------------------------add merch---------------------------------------------------------------- */

.merch-form {
    margin-bottom: 5rem;
}
/* Resizes checkbox */
.merch-form [type='checkbox'] {
    width: 1rem;
}
/* Adds spacing to checkbox */
.form-check {
    margin-top: .5rem;
}

/* Removes base form templating and adds spacing */
.form-group input,
.form-group select,
.form-group textarea {
    position: static;
    left: 0;
    transform: none;
    margin-top: .5rem;
}

.form-group label {
    margin-top: .5rem;
}

input[type='file'] {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer!important;

}

.image-button {
    position: relative;
    cursor: pointer!important;

}

.widget-checkbox {
    width: fit-content!important;
}

