/* -------------------------------------------------------------------General---------------------------------------------------------------- */
.merch-card {
    height:25rem;
    /* border: 2px solid #333; */
    box-shadow: 
    4px 4px 2px rgba(0, 0, 0, .35),
    
    inset 2px 2px 4px rgba(51, 51, 51, 0.493),
    inset -2px -2px 4px rgba(51, 51, 51, 0.493),
    -2px -2px 4px rgba(51, 51, 51, 0.699)
    ;
    
    
    background-color: #faf9f6;
    position: relative;
    border-radius: 10px;
    /* border: 2px solid #333 */
}

.merch-image {
    position: relative;
}

.merch-image-background {
    position: absolute;
    height: 25rem;
    width: 100%;
    /* background-color: #333; */
    background: linear-gradient(45deg, #F2F2F2, #B3B3B3, #D9D9D9 );
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 
    0px 2px rgba(0, 0, 0, .35),
    
    inset 2px 2px 2px rgba(51, 51, 51, 0.493),
    inset 0px -2px 2px rgba(51, 51, 51, 0.493),
    -2px -2px rgba(51, 51, 51, 0.699)
    ;
}

.merch-image img {
    height: 200px;
    position: relative;
    background-size: contain;
    width: auto;
    /* background-color: #333; */
    /* border-bottom: 2px solid #333; */
    left: 50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
}

.image-banner {
    padding-left: .25em;
    width: 100%;
    position: absolute;
    z-index: 1;
    top:5%;
    color: white;
    text-shadow: 1px 0px 2px #333,
                -1px 0px #333,
                0px 1px #333,
                0px -1px 2px #333;
    background-color: rgba(253, 253, 253, 0.75);
}

.merch-text-body {
    padding: 1rem;
    text-align: center;
}

.merch-name {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0;
}

.merch-author {

}

.merch-descript {

}

.merch-card-header {

}

.custom-scroll {
    overflow-y:auto;
    height:25rem;
}

select {
    padding: .25rem;
}

input:read-only {
    padding: .15rem .15rem .15rem .4rem;

}

/* ------------------------------------------------------------------- details ---------------------------------------------------------------- */
/* changes height for details */
.merch-card,
.merch-image-background {
    height: 30rem;
}

#bag {
    width:100%;
    font-size: 0;
    margin-bottom: 1rem;
}

#bag div {
    display: inline-block;

}

#remove-button,
#in-bag,
#add-button {
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    color: #fff;
    vertical-align: middle;
}


#remove-button,
#add-button {
    background-color: #333;
    width: 20%;
    cursor: pointer;
}

#remove-button {
}

#in-bag {
    width:50%;
    background-color: rgba(0, 0, 0, .50);
}

#add-button {
    
}