{% load static %}
{% load active_url %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    {% block core_css %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block core_js %}
      <script src="https://kit.fontawesome.com/377083d8a9.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <link rel="icon" href="/media/EE_favicon.jpg" type="image/gif">
    <title>Eldridge Music {% block title %}{% endblock %}</title>
  </head>
  <body>

    <!-- background image -->
    <div class="base-overlay"></div>

    <header class="container-fluid fixed-top">
      <div class="row justify-content-end">

        <div class="col-4 d-none d-lg-block">
          <h1 class="logo-title mb-0 mt-1">
            <a href="{% url 'home' %}">
              Eldridge <br>Music Studio
            </a>
          </h1>
        </div>

        <div class="col-6 my-auto d-none d-lg-block">
          <form method="GET" action="{% url 'lessons' %}">
            <div class="input-group">
              <input class="form-control rounded-0" name="userquery" type="text" placeholder="Search Lessons">
              <div class="input-group-append">
                <button class="btn btn-dark rounded-0" type='submit'>
                  <span>
                    <i class="fas fa-search"></i>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="header-profile col-10 col-lg-2 mt-2 pt-1 mt-lg-0">
            <div class=" font-aws y-center" >
              <i class="fas fa-user-circle font-aws"></i>
            </div>
        </div>
      </div>

      <!-- Sets url variables -->
      {% url 'home' as home_url  %}
      {% url 'coaxsio' as coaxsio_url  %}
      {% url 'lessons' as lesson_url %}
      <!-- Sets url variables with query parameters in url -->
      {% find_active_search lesson_url "?instrument=Piano" as lesson_piano_url %}
      {% find_active_search lesson_url "?instrument=Guitar" as lesson_guitar_url %}
      {% find_active_search lesson_url "?instrument=Vocal" as lesson_vocal_url %}
      {% find_active_search lesson_url "?instrument=Flute" as lesson_flute_url %}

      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <button class="navbar-toggler my-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent"> <!-- check id -->

            <ul class="navbar-nav mx-auto mb-2 mb-lg-0" id="navigation-bar">

              <!-- Large screen home icon -->
              <li class="nav-item">
                <a class="nav-link {% if request.path == home_url  %} active {% endif %} me-5" {% if request.path == home_url  %} aria-current="page" {% endif %} href="{% url 'home' %}">
                  <span class="d-block d-lg-none d-xl-none d-xxl-none logo-title pt-2 pb-0">Eldridge Music Studio</span>
                  <span class="d-block d-lg-none d-xl-none d-xxl-none mb-4"><hr class="dropdown-divider"></span>
                  <span>Home</span>
                </a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if request.path == lesson_url  %} active {% endif %} me-5" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Lessons</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item {% if request.get_full_path == lesson_url  %} active {% endif %}" {% if request.get_full_path == lesson_url  %} aria-current="page" {% endif %} href="{% url 'lessons' %}">All Lessons</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <!-- <form method="GET" action="{% url 'lessons' %}"> -->
                    <li><a class="dropdown-item {% if request.get_full_path == lesson_piano_url %} active {% endif %}" {% if request.get_full_path == lesson_piano_url  %} aria-current="page" {% endif %} href="{% url 'lessons' %}?instrument=Piano">Piano</a></li>
                    <li><a class="dropdown-item {% if request.get_full_path == lesson_guitar_url %} active {% endif %}" {% if request.get_full_path == lesson_guitar_url  %} aria-current="page" {% endif %} href="{% url 'lessons' %}?instrument=Guitar">Guitar</a></li>
                    <li><a class="dropdown-item {% if request.get_full_path == lesson_vocal_url %} active {% endif %}" {% if request.get_full_path == lesson_vocal_url  %} aria-current="page" {% endif %} href="{% url 'lessons' %}?instrument=Vocal">Vocal</a></li>
                    <li><a class="dropdown-item {% if request.get_full_path == lesson_flute_url %} active {% endif %}" {% if request.get_full_path == lesson_flute_url  %} aria-current="page" {% endif %} href="{% url 'lessons' %}?instrument=Flute">Flute</a></li>
                  <!-- </form> -->
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link me-5" href="#">Specials</a>
              </li>

              <li class="nav-item">
                <a class="nav-link {% if request.path == coaxsio_url  %} active {% endif %}" {% if request.path == home_url  %} aria-current="page" {% endif %} href="{% url 'coaxsio' %}">Online Piano</a>
              </li>

            </ul>

          </div>
        </div>
      </nav>

      <div class="row">
        <div class="col-12 header-special">
          <p class="y-center mb-0">New Students Recieve a Free Lesson</p>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="col nav-header-height"></div>
      </div>
    </div>

    {% if messages %}
      <div class="message-container">
        {% for message in messages %}
          {% with message.level as level %}
            {% if level == 40 %}
              {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
              {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
              {% include 'includes/toasts/toast_success.html' %}
            {% else %}
              {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
          {% endwith %}
        {% endfor %}
      </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    {% block postload_js %}
      <!-- Reveal toasts if they exist -->
      <script type="text/javascript">
        var toastExist = document.getElementsByClassName('toast')
          if (toastExist.length > 0) {
            document.getElementsByClassName('toast')[0].style.opacity = "1";
            document.getElementsByClassName('toast')[0].style.height = "auto";

            document.getElementsByClassName('close-button')[0].addEventListener('click', function() {
              document.getElementsByClassName('toast')[0].style.opacity = "0";
              setTimeout(function() {
                document.getElementsByClassName('toast')[0].style.height = "0px";
                document.getElementsByClassName("message-container")[0].style.display = "none";
              }, 2000);
            });
          }


      </script>
    {% endblock %}

  </body>
</html>