{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profile_history/css/profile_history.css' %}">
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="blank-overlay"></div>

            <div class="col-10 mt-5 custom-form box-shadow">

                <div id="profile-buttons" class="row justify-content-center text-center">
                    <button id="general-information-button" class="col-12 col-md-3 header-button">
                        Update genreal information
                    </button>
                    <button id="current-lessons-button" class="col-12 col-md-3 header-button header-button-inactive ">
                        View current lesson(s)
                    </button>
                    <button id="previous-lessons-button" class="col-12 col-md-3 header-button header-button-inactive">
                        View previous lesson(s)
                    </button>
                </div>

                <div id="general-information" class="row justify-content-center">
                    <div class="col-12">
                        <h3>Profile General Information</h3>
                        <hr>
                        {{ invoice.name | as_crispy_field }}
                        {{ invoice.email | as_crispy_field }}
                        {{ invoice.phone | as_crispy_field }}
                        {{ invoice.street_address_billing | as_crispy_field }}
                        {{ invoice.city | as_crispy_field }}
                        {{ invoice.state_county | as_crispy_field }}
                        {{ invoice.post_code | as_crispy_field }}
                        {{ invoice.country | as_crispy_field }}
                    </div>
                </div>

                <div id="current-lessons" class="row justify-content-center hide-content">
                    <div class="col-12">
                        <h3>Current Lesson(s)</h3>
                        <hr>
                    </div>
                </div>

                <div id="previous-lessons" class="row justify-content-center hide-content">
                    <div class="col-12">
                        <h3>Previous Lesson(s)</h3>
                        <hr>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block postload_js %}
{{ block.super }}
{% include 'profile_history/includes/header-button.html' %}
{% endblock %}