{% extends "base.html" %}
{% load static %}
{% load lesson_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'lessons/css/lessons.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="blank-overlay"></div>
            <div class="col-10 col-lg-8 col-xl-6 mt-5">
                <div class="card mb-3">
                    <div class="row">

                        <!-- image -->
                        <div class="col-4">
                            <img src="{{ lesson.image.image.url }}" class="card-img-top lesson-card-image image-details p-1 ms-3 mt-3" alt="A {% title_image_name lesson.image %}">
                        </div>

                        <!-- details -->
                        <div class="col-7">

                            <!-- lesson name header -->
                            <div class="y-center">
                                <p class="lesson-card-header text-center mt-3">
                                    {% if lesson.lesson %}
                                        {{ lesson.instruments }}
                                    {% else %}
                                        {% for avail_instruments in lesson.instruments %}
                                            {{ avail_instruments }}
                                            {% if not forloop.last %}
                                                and
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    for
                                    {% if lesson.lesson %}
                                        {{ lesson.instrument_levels }}
                                    {% else %}
                                        {% for avail_levels in lesson.instrument_levels %}
                                            {{ avail_levels }}
                                            {% if not forloop.last %}
                                                and
                                            {% endif %}
                                        {% endfor %}
                                        Students
                                    {% endif %}

                                <p>
                                <p class="card-text px-3 text-center">{{ lesson.description }}</p>
                            </div>

                        </div>

                        <form id="lesson-form" action="{% url 'checkout_lesson' lesson.id lesson.lesson %}" method="POST" class="card-body custom-scroll pt-0 mx-3">
                            {% csrf_token %}
                            <hr>
                            <!-- instruments -->
                            <div class="d-flex justify-content-between pb-3">
                                <label for="instrument" class="card-text my-auto details-key">Instrument(s):</label>
                                {% if lesson.lesson %}
                                    <input value="{{ lesson.instruments }}" type="text" name="instrument" id="instrument" class="details-value" readonly="true">
                                {% else %}
                                    {% if lesson.instruments|length <= 1 %}
                                        {% for avail_instruments in lesson.instruments %}
                                            <input value="{{ avail_instruments }}" type="text" name="instrument" id="instrument" class="details-value" readonly="true">
                                        {% endfor %}
                                    {% else %}
                                        <select class="details-value" name="instrument" id="instrument">
                                            {% for avail_instruments in lesson.instruments %}
                                                <option value="{{ avail_instruments }}">{{ avail_instruments }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                {% endif %}

                            </div>

                            <!-- skill levels -->
                            <div class="d-flex justify-content-between pb-3">
                                <label for="level" class="card-text my-auto details-key">Level(s):</label>
                                {% if lesson.lesson %}
                                    <input value="{{ lesson.instrument_levels }}" type="text" name="level" id="level" class="details-value" readonly="true">
                                {% else %}
                                    {% if lesson.instrument_levels|length <= 1 %}
                                        {% for avail_levels in lesson.instrument_levels %}
                                            <input value="{{ avail_levels }}" type="text" name="level" id="level" class="details-value" readonly="true">
                                        {% endfor %}
                                    {% else %}
                                        <select class="details-value" name="level" id="level">
                                            {% for avail_levels in lesson.instrument_levels %}
                                                <option value="{{ avail_levels }}">{{ avail_levels }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                {% endif %}
                            </div>

                            <!-- lesson type -->
                            <div class="d-flex justify-content-between pb-3">
                                <label for="style" class="card-text my-auto details-key">Lesson type:</label>
                                {% if lesson.lesson_style|length <= 1 %}
                                    {% for avail_styles in lesson.lesson_style %}
                                        <input vlue="{{ avail_styles|title }}" type="text" name="style" id="style" class="details-value" readonly="true">
                                    {% endfor %}
                                {% else %}
                                    <select class="details-value" name="style" id="style">
                                        {% for avail_styles in lesson.lesson_style %}
                                            <option value="{{ avail_styles }}">{{ avail_styles|title }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div>

                            <!-- length of subscription in months  -->
                            <div class="d-flex justify-content-between pb-3">
                                <label for="month_duration" class="card-text my-auto details-key">Months:</label>
                                {% if lesson.sub_duration|length <= 1 %}
                                    {% for sub_duration in lesson.sub_duration %}
                                        <input value="{{ sub_duration }}" type="text" name="month_duration" id="month_duration" class="details-value" readonly="true">
                                    {% endfor %}
                                {% else %}
                                    <select class="details-value" name="month_duration" id="month_duration">
                                        {% for sub_duration in lesson.sub_duration %}
                                            <option value="{{ sub_duration }}">{{ sub_duration }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div>

                            <!-- lessons per week -->
                            <div class="d-flex justify-content-between pb-3">
                                <label for="per_week" class="card-text my-auto details-key">Weekly lessons:</label>
                                {% if lesson.per_week|length <= 1 %}
                                    {% for per_week in lesson.per_week %}
                                        <input value="{{ per_week }}" type="text" name="per_week" id="per_week" class="details-value" readonly="true">
                                    {% endfor %}
                                {% else %}
                                    <select class="details-value" name="per_week" id="per_week">
                                        {% for per_week in lesson.per_week %}
                                            <option value="{{ per_week }}">{{ per_week }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div>

                            <!-- Lessons minutes length -->
                            <div class="d-flex justify-content-between pb-3">
                                <label for="minutes" class="card-text my-auto details-key">Lesson duration:</label>
                                {% if lesson.minutes|length <= 1 %}
                                    {% for minutes in lesson.minutes %}
                                        <input value="{{ minutes }}" type="text" name="minutes" id="minutes" class="details-value" readonly="true">
                                    {% endfor %}
                                {% else %}
                                    <select class="details-value" name="minutes" id="minutes">
                                        {% for minutes in lesson.minutes %}
                                            <option value="{{ minutes }}">{{ minutes }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div>

                            <div>
                                <p class="text-muted">
                                    * Students are required to have a phone with a camera (or other recording device) and camera stand for group or private lessons.
                                    <!-- convert object to str variable or list -->
                                    {% if lesson.lesson %}
                                        {% convert_str lesson.instruments as vocal %}
                                    {% else %}
                                        {% convert_str_list lesson.instruments as vocal %}
                                    {% endif %}

                                    <!-- Add in instrument or period depending on if vocal is instrument -->
                                    {% if lesson.lesson and vocal == 'Vocal' %}

                                    {% elif lesson.lesson and vocal != 'Vocal' %}
                                        Students are also required to have access to a {{ lesson.instruments }} for these lessons.
                                    {% elif not lesson.lesson %}
                                        {% for instrument in vocal %}
                                            {% if instrument != 'Vocal' and forloop.first and not forloop.last %}
                                                Students are also required to have access to a {{ instrument }},
                                            {% elif instrument != 'Vocal' and forloop.first and forloop.last %}
                                                Students are also required to have access to a {{ instrument }}.
                                            {% elif instrument != 'Vocal' and not forloop.last %}
                                                 {{instrument}},
                                            {% elif instrument != 'Vocal' and forloop.last %}
                                                or {{ instrument }}.
                                            {% elif instrument != 'Vocal' %}
                                                or {{ instrument }}
                                            {% elif instrument == 'Vocal' and forloop.last and forloop.first %}

                                            {% elif instrument == 'Vocal' and forloop.last %}
                                                .
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </div>

                            <div class="d-flex justify-content-center pb-3 mt-2">
                                <!-- <a href="{% url 'checkout_lesson' lesson.id lesson.lesson %}"> -->
                                  <button type="submit" id="form-submit">
                                    <span class="p-2">Purchase</span>
                                  </button>
                                <!-- </a> -->
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
