{% extends "base.html" %}
{% load static %}
{% load lesson_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'lessons/css/lessons.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-around">
      <div class="blank-overlay"></div>
        {% for lesson in lessons %}
        <div class="col-12 col-sm-5 col-lg-4 col-xxl-3 mt-5">
            <div class="card mb-3 lesson-card">
              <div class="image-banner">{% convert_str lesson.instrument_level %}</div>
              <a href="{% url 'details' lesson.id %}?lesson">
                <img src="{{ lesson.image.image.url }}" class="card-img-top lesson-card-image" alt="A {% title_image_name lesson.image %}">
              </a>
              <div class="card-body custom-scroll">
                  <p class="lesson-card-header">
                    {{ lesson | title }}
                  <p>

                  <p class="card-text">
                    {{ lesson.description }}
                  </p>

                  <div class="d-flex justify-content-center pb-3 mt-4">
                    <a href="{% url 'details' lesson.id %}?lesson">
                      <button type="submit">
                        <span class="p-2">Details</span>
                      </button>
                    </a>
                  </div>

                </div>
              </div>
        </div>

        {% endfor %}

    </div>
</div>

{% endblock %}

