{% extends "base.html" %}
{% load static %}
{% load lesson_tags %}

{% block content %}
  <div class="container-fluid">
    <div class="row justify-content-around">
      {% for sub in subs %}
        <div class="col-5 col-lg-4 col-xl-3 mt-5">
            <div class="card mb-3 class-card" style="position: relative;">

              <!-- sub name header -->
              <div class="class-banner">
                {% for avail_instruments in sub.instruments %}
                  {{ avail_instruments }}
                  {% if not forloop.last %}
                    and
                  {% endif %}
                {% endfor %}
                for
                {% for avail_levels in sub.instrument_levels %}
                  {{ avail_levels }}s
                  {% if not forloop.last %}
                    and
                  {% endif %}
                {% endfor %}
              </div>
              <a href="{% url 'details' sub.id %}?subscription">
                <img src="{{ sub.image.image.url }}" class="card-img-top card-image" alt="A {% title_image_name sub.image %}">
              </a>
              <div class="card-body custom-scroll">
                <!-- name header -->
                <!-- <p class="class-card-header text-center">
                  {{ sub.friendly_name }}
                <p> -->

                <!-- details -->
                <p class="card-text class-card-body">{{ sub.description }}</p>
                <!-- <hr> -->
                
                <div class="d-flex justify-content-center pb-3 mt-4">
                  <a href="{% url 'details' sub.id %}?subscription">
                    <button class="button-custom header-box">
                      <span class="p-2 ms-1">Subscribe</span>
                    </button>
                  </a>
                </div>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

