{% extends "base.html" %}
{% load static %}
{% load lesson_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'lessons/css/lessons.css' %}">
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="blank-overlay"></div>
      {% for sub in subs %}
        <div class="col-12 col-sm-5 col-lg-4 col-xxl-3 mt-5">
            <div class="card mb-3 lesson-card">

              <!-- sub name header -->
              <div class="image-banner">
                {% for avail_instruments in sub.instruments %}
                  {{ avail_instruments }}
                  {% if not forloop.last %}
                    and
                  {% endif %}
                {% endfor %}
                for
                {% for avail_levels in sub.instrument_levels %}
                  {{ avail_levels }}s
                  {% if not forloop.last %}
                    and
                  {% endif %}
                {% endfor %}
              </div>
              <a href="{% url 'details' sub.id %}?subscription">
                <img src="{{ sub.image.image.url }}" class="card-img-top lesson-card-image" alt="A {% title_image_name sub.image %}">
              </a>
              <div class="card-body custom-scroll">

                <p class="lesson-card-header">{{ sub }}</p>

                <!-- details -->
                <p class="card-text">{{ sub.description }}</p>
                <!-- <hr> -->

                <div class="d-flex justify-content-center pb-3 mt-4">
                  <a href="{% url 'details' sub.id %}?subscription">
                    <button type="submit">
                      <span class="p-2">Details</span>
                    </button>
                  </a>
                </div>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

