{% extends "base.html" %}
{% load static %}
{% load lesson_tags %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-around">

            <div class="col-10 col-lg-8 col-xl-6 mt-5">
                <div class="card mb-3 class-details" style="position: relative;">
                    <div class="row">

                        <!-- image -->
                        <div class="col-4">
                            <img src="{{ sub.image.image.url }}" class="card-img-top card-image image-details ps-1" alt="A {% title_image_name sub.image %}">
                        </div>

                        <!-- details -->
                        <div class="col-7">

                            <!-- sub name header -->
                            <div class="y-center">
                                <p class="class-card-header text-center mt-3">
                                    {% for avail_instruments in sub.instrument %}
                                        {{ avail_instruments }}
                                        {% if not forloop.last %}
                                            and
                                        {% endif %}
                                    {% endfor %}

                                    for

                                    {% for avail_levels in sub.instrument_level %}
                                        {{ avail_levels }}s
                                        {% if not forloop.last %}
                                            and
                                        {% endif %}
                                    {% endfor %}
                                <p>
                                <p class="card-text class-card-body  px-3 text-center ">{{ sub.description }}</p>
                            </div>

                        </div>

                        <div class="card-body custom-scroll pt-0">

                            <hr>
                            <!-- instruments -->
                            <div class="d-flex justify-content-between pb-3">
                                <p class="card-text class-card-body my-auto lesson-key">Instrument(s):</p>
                                {% if sub.instrument|length <= 1 %}
                                    {% for avail_instruments in sub.instrument %}
                                        <span>{{ avail_instruments }}</span>
                                    {% endfor %}
                                {% else %}
                                    <select class="lesson-value" name="" id="">
                                        {% for avail_instruments in sub.instrument %}
                                            <option value="{{ avail_instruments }}">{{ avail_instruments }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div>

                            <!-- skill levels -->
                            <div class="d-flex justify-content-between pb-3">
                                <p class="card-text class-card-body my-auto lesson-key">Level(s):</p>
                                {% if sub.instrument_level|length <= 1 %}
                                    {% for avail_instruments in sub.instrument_level %}
                                        <span class="lesson-value">{{ avail_instruments }}</span>
                                    {% endfor %}
                                {% else %}
                                    <select class="lesson-value" name="" id="">
                                        {% for avail_levels in sub.instrument_level %}
                                            <option value="{{ avail_instruments }}">{{ avail_levels }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div>

                            <!-- lesson type -->
                            <div class="d-flex justify-content-between pb-3">
                                <p class="card-text class-card-body my-auto lesson-key">Lesson type:</p>
                                <span class="lesson-value">{{ sub.lesson_class_type }}</span>
                            </div>

                            <!-- length of subscription in months  -->
                            <div class="d-flex justify-content-between pb-3">
                                <p class="card-text class-card-body my-auto lesson-key">Months:</p>
                                <span class="lesson-value">{{ sub.subscription_duration_months }}</span>
                            </div>

                            <!-- lessons per week -->
                            <div class="d-flex justify-content-between pb-3">
                                <p class="card-text class-card-body my-auto lesson-key">Weekly lessons:</p>
                                <span class="lesson-value">{{ sub.lessons_per_week }}</span>
                            </div>

                            <!-- Lessons minutes length -->
                            <div class="d-flex justify-content-between pb-3">
                                <p class="card-text class-card-body my-auto lesson-key">Lesson duration:</p>
                                <span class="lesson-value">{{ sub.lesson_minutes_length }} minutes</span>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

