<div class="toast custom-toast" role="alert" aria-live="polite" aria-atomic="true">
    <div class="pointer"></div>
    <div class="toast-header pointer-header pe-2">
        <strong class="me-auto">Success!</strong>
        <button type="button" class="close-button pe-0" aria-label="Close">
            <span>
                <i class="far fa-window-close"></i>
            </span>
        </button>
    </div>

    <div class="toast-body">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr>

            </div>
        </div>

        {% if grand_total and not on_profile_history_page and not no_cart %}

            <p class="cart-header">Cart ({{ item_count }})</p>
            <div class="cart-popup-view custom-scroll">
                {% for item in cart_items %}
                <div class="row">
                    <div class="col-3 my-1">
                        <img class="w-100" src="{% if item.item.image %}{{ item.item.image.url }}{% else %}/media/blank.png{% endif %}" alt="{{ item.item.name }}">
                    </div>
                    <div class="col-9">
                        <p class="my-0"><strong>{{ item.item.name }}</strong></p>
                        <p class="my-0 small text-muted">Quantity: {{ item.amount }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <p class="mt-3 mb-1 text-end">
                        <strong>
                        Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}:
                        <span class="">${{ total | floatformat:2 }}</span>
                        </strong>
                    </p>
                    {% if free_delivery_delta > 0 %}
                        <p class="mb-0 p-2 text-center">
                            Spend <strong>${{ free_delivery_delta }}</strong> more to get free delivery!
                        </p>
                    {% endif %}
                    <a href="{% url 'shopping_bag' %}" class="x-center-toast-button generic-button green-button white-text">
                            Go to secure checkout
                        <i class="fas fa-lock"></i>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>